html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 40px;
    /* Google fonts 输出的 CSS */
    font-family: 'ZCOOL KuaiLe', sans-serif;
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p {
    font-size: 38px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    background-color: #118e97f4;

  }
  html {
    background-color: #fff3c077;
  }
  body {
    width: 700px;
    margin: 0 auto;
    background-color: #ffc0cb;
    padding: 0 30px 30px 30px;
    border: 2px solid rgba(0, 0, 0, 0.313);
  }
  img {
    display: block;
    margin: 0 auto;
  }